ADMIN_PASSWORD=change_me_now
NODE_OPTIONS=--disable-warning=ExperimentalWarning
MISUB_RUNTIME=container
COOKIE_SECRET=
CRON_SECRET=
CORS_ORIGINS=
MISUB_PUBLIC_URL=
MISUB_CALLBACK_URL=
MISUB_SKIP_TLS_VERIFY=true
D1_NAME=misub
COMPATIBILITY_DATE=2024-04-01
VITE_ENABLE_UPDATE_CHECK=false
VITE_DEFAULT_LOCALE=zh-CN
VITE_FORCE_LOCALE=
VITE_DEFAULT_FETCH_PROXY=